<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.server.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.course.server.domain.Comment">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="course_id" jdbcType="CHAR" property="courseId" />
    <result column="member_id" jdbcType="CHAR" property="memberId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pf" jdbcType="INTEGER" property="pf" />
  </resultMap>
  <insert id="insert" parameterType="com.course.server.domain.Comment">
    INSERT INTO `comment`
    VALUES (#{id},#{courseId},#{memberId},#{content},#{createTime},#{name},#{pf})
  </insert>

  <select id="findCommentByCourseId" resultMap="BaseResultMap">
    SELECT * FROM `comment` WHERE course_id = #{courseId}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select * from `comment`
  </select>
  <delete id="deleteById" parameterType="String" >
    delete  from `comment` where id =#{id}
  </delete>
  <select id="findCommentByName" parameterType="String" resultMap="BaseResultMap">
    select * from `comment` where  name = #{name}
  </select>
</mapper>