<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.server.mapper.UploadMapper">
  <resultMap id="BaseResultMap" type="com.course.server.domain.Upload">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="file" jdbcType="VARCHAR" property="file" />
  </resultMap>

  <insert id="insert" parameterType="com.course.server.domain.Upload">
    insert into upload (id, user_name,content,file)
    values (#{id,jdbcType=CHAR}, #{userName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{file,jdbcType=VARCHAR})
  </insert>

</mapper>